{% extends 'accounts/main.html' %} {% block content %}
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px">
    <h4 class="card-title mt-3 text-center">Create Customer</h4>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        {{form.name}}
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>

        {{form.email}}
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>

        {{form.phone}}
      </div>
      <!-- form-group// -->

      <!-- form-group// -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
          Create Account
        </button>
      </div>
      <!-- form-group// -->
    </form>
  </article>
</div>
<!-- card.// -->
<!--container end.//-->

<br /><br />

{% endblock %}
