{% extends 'accounts/main.html' %} {% block content %}

<div class="row">
  <div class="col-md">
    <h5>CUSTOMERS</h5>
    <hr />

    <class class="container-fluid">
      <br />
      <class class="row">
        <div class="col-md">
          <div class="card card-body">
            <h5>CUSTOMERS TABLE</h5>
          </div>
          <div class="card card-body">
            <table class="table">
              <tr>
                <th>Customer</th>
                <th>Phone</th>
                <th></th>
              </tr>
              {% for i in customers %}
              <tr>
                <td>{{i.name}}</td>
                <td>{{i.phone}}</td>
                <td>
                  <a
                    class="btn btn-sm btn-info"
                    href="{% url 'customer' i.id %}"
                    >View</a
                  >
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </class>
    </class>
  </div>
</div>
{% endblock %}
