{% extends 'accounts/main.html' %} {% block content %}
{% include 'accounts/status.html' %}
<!-- Status.html -->



<!-- end status -->

<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        {{productFilters.form}}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<br />

<class class="container-fluid">
  <br />
  <class class="row">
    <div class="col-md">
      <div class="card card-body">
        <h5>ORDERS TABLE</h5>
      </div>
      <div class="card card-body">
        <table class="table">
          <tr>
            <th>Product</th>
            <th>Date Orderd</th>
            <th>Status</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>
          {% for i in orders %}
          <tr>
            <td>{{i.product}}</td>
            <td>{{i.date_created}}</td>
            <td>{{i.status}}</td>
            <td>
              <a
                class="btn btn-sm btn-info"
                href="{% url 'update_order' i.id %}"
                >Update</a
              >
            </td>
            <td>
              <a
                class="btn btn-sm btn-danger"
                href="{% url 'delete_order' i.id %}"
                >Remove</a
              >
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    </class>
    </class>
  </div>
</div>

    {% endblock %}
