{% extends 'accounts/main.html' %} {% block content %}




<div class="form-group">
  <label class="col-form-label mt-4" for="inputDefault">Customer</label>
  <input
    type="text"
    class="form-control"
    placeholder="Default input"
    id="inputDefault"
  />{{form.customer}}
</div>
<div class="form-group">
  <label class="col-form-label mt-"4" for="inputDefault">Default input</label>
  <input
    type="text"
    class="form-control"
    placeholder="Default input"
    id="inputDefault"
  />
</div>

<button type="submit" class="btn btn-primary">Submit</button>

{% endblock %}
